/*MAIN PAGE*/
body {margin:0; padding:0; height:100%;}
.clear{clear:both;}
a {outline:none; text-decoration:none;}
#wrapperHead {display:block; width:1000px; margin:0 auto; padding:0; text-align:left;}
#header .logo {padding:8px; float:left;}
#header nav {display:block; float:right; margin:10px 0 0 0; padding:20px 0;}
#header nav ul {font-family:Verdana; font-size: 13px; font-weight: bold;}
#header nav li {display:inline; margin-right:25px;}
#header nav li a {color:#979797; }
#header nav li a:hover {color:#3C3F40;}
#wrapperBody {display:block; width:1000px; margin:auto; padding:0;}
img {margin:0; padding:0; border:none;}
#container {margin:0; padding:0;}
#container section {display:block; width:100%; margin:0 0 10px 0; padding:0;}
#eventSect {float:left; width:280px;}
#eventSect h2.title {margin-bottom:15px; padding-bottom:15px; border-bottom:1px solid #DEDEDE; font-size:20px; color:#979797;}
#eventSect nav{display:block; width:100%; margin-bottom:30px;}
#eventSect nav ul{margin:0; padding:0; list-style:none;}
#eventSect nav li{margin:0 0 3px 0; padding:0; font-family:Verdana;}
#eventSect nav li.last a{border:none;}
#eventSect nav li img{ width:280px; margin:0 0 3px 0; padding:0;}
#eventSect nav a{display:block; margin:0; padding:5px; color:#666666; text-decoration:none; border-bottom:1px solid #979797;}
#eventSect nav a:hover{color:#FF9900; background-color:#FFFFFF;}
#content {float:right; width:680px; line-height:1.6em;}
#content article h2 {color:#343434; text-align: center;}
#content article p{margin-bottom:30px; color:#565656; text-align: justify;}
#wrapperFoot {display:block; width:1000px; margin:0 auto; padding:0; text-align:left; border-top:1px solid #979797;}
#footer {display:block; width:1000px; padding:20px 0;}
#footer p{margin:0; padding:0; color:#979797; float: left; margin-bottom: 20px;}
#footer p a {color:#979797;}
